.textArea {
    width: 100%;
    background: var(--gray-300);
    color: var(--gray-500);
    padding: 1rem;
    border: 0;
    border-radius: 8px;
}

.textAreaReadOnly {
    width: 100%;
    background: var(--gray-300);
    color: var(--gray-500);
    padding: 1rem;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
    touch-action: none;
}