.questaoCriacao { 
    max-width: 70rem;
    padding: 1rem;
}

.formularioQuestao {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.formularioQuestao input {
    flex-grow: 2;
}

.formularioQuestao select {
    flex-grow: 1;
}

.formularioQuestao textarea {
    flex-grow: 2;
}


.subtitle {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.descricaoOpcoesQuestao {
    margin-bottom: 2rem;
    font-size: 1rem;
}

.opcoesQuestao {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 1rem;
}

.buttons {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.botaoSalvar {
    border: none;
    text-align: center;
    font-size: 1.3rem;
    color: var(--white);
    text-decoration: none;
    padding: 12px;
    background: var(--green-200);
    border-radius: 8px;
    min-width: 150px;
    max-width: 200px;
    box-shadow: 0px 3px 3px var(--gray-500);
    cursor: pointer;
}

.descricaoPopupFinalizar {
    font-weight: 600;
    color: var(--back-500);
    font-size: 1.1rem;
}

.blocoInfoDialgo {
    display: flex;
    color: var(--back-500) !important;
}

.blocoInfoDialgo span {
    margin-right: 10px;
}

.grupoOpcoesDialogo {
    margin-bottom: 1rem;
}