.turmaCriacao {
    display: flex;
    flex-direction: column;
    max-width: 70rem;
    padding: 1rem;
    position: relative;
}

.listaBotoes {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 2rem;
}


.mostrarAlertaSucesso {
    display: block;
}

.naoMostrarAlertaSucesso {
    display: none !important;
}

.mostrarAlertaErro {
    display: block;
}

.naoMostrarAlertaErro {
    display: none !important;
}

.botaoAtualizar {
    text-align: center;
    font-size: 1.3rem;
    color: var(--white);
    text-decoration: none;
    padding: 12px;
    background: var(--green-200);
    border-radius: 8px;
    border: none;
    min-width: 150px;
    max-width: 200px;
    box-shadow: 0px 3px 3px var(--gray-500);
    cursor: pointer;
}