.periodo {
    max-width: 70rem;
    padding: 1rem;
}

.formSearch {
    display: flex;
    width: 100%;
    gap: 1.5rem;
    margin-top: 2rem;
}

.listaPeriodos {
    display: flex;
    margin-top: 2rem;
    gap: 1.5rem;
}

.mostrarAlertaSucesso {
    display: block;
    margin: 20px 0;
}

.naoMostrarAlertaSucesso {
    display: none !important;
}