.header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    font-size: 1.4rem;
}

.header h1 {
    font-size: 1.8rem;
}

.header p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.infoHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.complement {
    
    position: absolute;
}

@media (max-width: 768px) {

    .header {
        display: flex;
        padding: 1rem;
        flex-direction: column-reverse;
        justify-content: space-between;
        font-size: 1.4rem;
    }

    .infoHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    text-align: center;
    margin-bottom: 3rem;
    }
    
}