.header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    font-size: 1.4rem;
}

.header h1 {
    font-size: 1.8rem;
}

.header p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.header span::before {
    color: var(--gray-300);
    padding: 0 0.25rem;
    content: "|";
}

.infoHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}