.wrapper {
    max-width: 145rem;
    height: 100vh;
    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
}